{{> navbar}}

<h2>Customer Add</h2>

<!-- Customer Form -->
<form action="/add" method="POST" class="mb-4">
    <div class="mb-3">
        <label for="name" class="form-label">Customer ID</label>
        <input type="text" id="id" name="id" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Customer Name</label>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" id="phone" name="phone" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Coupons</label>
        <input type="number" id="coupons" name="coupons" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Customer</button>
</form>



