{{!-- Extends main layout --}}
{{> navbar}}

<form action="/deliveries" method="GET">
    <label for="date">Select Date:</label>
    <input type="date" name="date" required>
    <button type="submit" class="btn btn-primary">Get Deliveries</button>
</form>